PORT=4000
DATABASE_URL=postgresql://user:pass@host:port/dbname?sslmode=require
REDIS_URL=redis://localhost:6379
JWT_SECRET=super-secret-key
RESEND_API_KEY=re_your_key
RAZORPAY_KEY_ID=rzp_test_id
RAZORPAY_KEY_SECRET=rzp_test_secret
ZEGOCLOUD_APP_ID=123456789
ZEGOCLOUD_SERVER_SECRET=zegocloud_secret
CLOUDINARY_URL=cloudinary://key:secret@name
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
PLATFORM_COMMISSION_PERCENTAGE=10

